<?xml version="1.0" encoding="UTF-8"?>
<plugin
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-simplelogin"
  version="1.0.0"
  >
  <name>Cordova Plugin SimpleLogin</name>
  <description>Plugin for Cordova (or PhoneGap) 3.0+ for user authentication</description>
  <keywords>cordova,android,login,auth,user</keywords>
  <repo>https://github.com/shuhailshuvo/cordova-plugin-SimpleLogin.git</repo>
  <platform name="android">
    <js-module src="www/simplelogin.js" name="user">
        <runs/>
        <!-- This is the window variable name you want, like window.FeedReader -->
        <clobbers target="user" />
    </js-module>
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="user">
        <param name="android-package" value="yapps.plugins.simplelogin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <source-file src="src/android/yapps/plugins/SimpleLogin.java" target-dir="src/yapps/plugins/"/>
  </platform>
</plugin>
